* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 8px;

    background-color: #111111;
    color: #ffffff;
}

@media (min-width: 800px) {
    body {
        margin: 8px auto;
        max-width: 800px;
    }
}
